<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Rodolfo Corbalan</title>
</head>
<body>
  <%- include('partials/header') %>
  
  <section class="hero-section">
    <div class="hero-image">
      <img src="/img/Foto_Rod_Portfolio.png" alt="Foto de Rodolfo Corbalan">
    </div>
    
    <div class="hero-text">
      <h1>RODOLFO CORBALAN </h1>
      <h3>DESENVOLVEDOR DE SOFTWARE<BR> ENGENHEIRO & GESTOR</h3>
      
      <h2 class="subtitle">
        Transicionando da Engenharia para o Desenvolvimento de Sistemas com visão de negócio.<br>
      </h2>
      
      <p>
        <br>Engenheiro Mecânico com sólida experiência em gestão e controle de processos, com inglês fluente, atualmente cursando Análise e Desenvolvimento de Sistemas. Aplico minha base lógica e analítica para desenvolver soluções de software robustas e eficientes, buscando oportunidades para combinar minhas experiências e agregar valor.
      </p>

    </div>
  </section>
  <%- include('partials/footer') %>
  </body>
</html>